.main--wrapper{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.main--wrapper{
    display: flex;
    gap: 10px;
     margin: auto;
    padding: 2rem;

}
.text--white{
    color: rgb(228, 212, 212);

}
.txt--grey{
    color: gray;
}
.circular--background {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,8,142,0.9878151944371498) 0%, rgba(70,0,255,1) 100%); 
    padding: 2rem;
    border-radius: 999%;
}
/*
.flexcircular--background {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    align-items: center;
}*/

.flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: centre;
    align-items: center;
    justify-content: space-between;
}
/*CARD CONTAINER CLASSES*/
.card--container{
  
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,64,226,1) 0%, rgba(0,212,255,1) 100%); 
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 15px;
}
.card--container--txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card--container--txt > p {
    text-align: center;
    gap: 0.5rem;
}
/*END OF CARD CONTAINER CLASSES*/

/*SUMMARY CONTAINER*/
.summary--container{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.summary--container--title{
padding: 10px 0;

}
.summary--list--wrapper{
    margin: 10px 0;
}
.summary--list--wrapper > ul{
    list-style: none;
}

.summary--button--wrapper{
    display: flex;
    justify-content: center;

}

.summary--container > div > button{
    background: rgb(21,21,24);
    color: white;
    width: 90%;
    padding: 0.5rem;
    border-radius: 20px;

}
/*END OF SUMMARY CONTAINER*/